# Raw dataset
data/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log

# Excel temporary files
~$*.xlsx

# OS files
.DS_Store
Thumbs.db